.sidebar .user {
    flex-direction: row-reverse;
    gap: 16px;
    height: 56px;
    width: auto;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .sidebar .user__text_name {
        margin: 0;
    }

    .sidebar__change-data-btn {
        margin: -12px 0 8px 72px;
    }

    .sidebar__log-out-btn {
        margin-left: 72px;
    }

    .sidebar::before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: #00000080;
        margin: 0 auto 20px;
    }
}