.header {
    display: flex;
    height: 40px;
}

.header__logo {
    background-image: url("../../assets/Logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 89px;
    height: 40px;
    margin-right: 24px;
}

.header__text {
    font-family: 'Cabinet Grotesk Bold', SansSerif, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    margin: auto 0;
}

.header__text_date-loc {
    margin-top: 11px;
}

.header__add-clothes {
    border: none;
    padding: 0;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    margin-right: 20px;
}

.header__add-clothes:hover {
    opacity: 0.6;
}

.header__user {
    height: inherit;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
    text-decoration: none;
    color: inherit;
}

.header__toggle-switch {
    display: flex;
    align-items: center;
    margin: auto 20px auto auto;
    font-size: 0.875rem;
    line-height: 1;
    position: relative;
    width: 54px;
    height: 24px;
}

.header__toggle-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
}

.header__toggle-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 2px solid #00000080;
    border-radius: 20px;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
}

.header__toggle-slider::before {
    content: "";
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #000;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    transition: transform 0.7s, content 0.7s;
    z-index: 1;
}

.slider-text {
    position: absolute;
    width: 28px;
    height: 28px;
    top: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    opacity: .5;
    z-index: 2;
    pointer-events: none;
    transition: opacity 0.7s ease;
}

.slider-text:first-of-type {
    left: -2px;
}

.slider-text:last-of-type {
    left: 28px;
}

.header__toggle-checkbox:checked + .header__toggle-slider::before{
    transform: translateX(30px);
}

.header__toggle-checkbox + .header__toggle-slider .slider-text:first-of-type {
    color: #FFF;
    opacity: 1;
}

.header__toggle-checkbox + .header__toggle-slider .slider-text:last-of-type {
    color: #000;
    opacity: .5;
}

.header__toggle-checkbox:checked + .header__toggle-slider .slider-text:first-of-type {
    color: #000;
    opacity: .5;
}

.header__toggle-checkbox:checked + .header__toggle-slider .slider-text:last-of-type {
    color: #FFF;
    opacity: 1;
}

@media screen and (max-width: 768px){
    .header {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 16px;
        height: 100%;
    }

    .header__first-line {
        display: flex;
        justify-content: space-between;
        height: 44px;
    }

    .header__first-line-profile {
        display: flex;
        height: 44px;
    }

    .header__first-line-profile .header__logo {
        margin-right: 3.2%;
    }

    .header__first-line-profile .header__text {
        font-size: 1rem;
        line-height: 1.2;
    }

    .header__menu-toggle {
        width: 44px;
        background-image: url("../../assets/Menu-toggle.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        margin-left: auto;
    }

    .header__menu-toggle:hover {
        transform: scale(1.05);
        transition: transform 0.2s ease;
        cursor: pointer;
    }

    .header__second-line {
        display: flex;
    }

    .header__mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: #FFF;
        box-shadow: 0 2px 8px 0 #0000001A;
        border-radius: 10px;
        gap: 24px;
    }

    .header__close-btn {
        background-image: url("../../assets/Close-black-icon.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-color: transparent;
        border: none;
        width: 22px;
        height: 22px;
        cursor: pointer;
        opacity: .4;
        transition: opacity .3s ease-in-out;
        padding: 0;
        align-self: flex-end;
        margin: 12px 12px 0 0;
    }

    .header__close-btn:hover {
        opacity: 1;
    }

    .header__user {
        display: flex;
        height: 40px;
    }

    .header__text_name {
        margin-left: 0;
    }

    .header__add-clothes {
        margin: 0;
    }

    .header__toggle-switch {
        margin: 0 auto 40px;
    }
}